dataset:
  root: 'data/out.grib'
  pressure_level: 1000
  global_latitude: [45, -45]   # (a, b) in the range [90.0, 89.75, 89.5, ..., -89.5, -89.75, -90.0]
  global_longitude: [60, 150]   # (a, b) in the range [0.0, 0.25, 0.5, ..., 359.25, 359.5, 359.75]
  global_resolution: [128, 128]  # [H, W] or null to keep the original resolution
  local_latitude: [30, -10]
  local_longitude: [90, 130]
  train_fromyear: 1980
  train_toyear: 2021
  val_fromyear: 2022
  val_toyear: 2024
  indays: 10
  outdays: 3

###########################################################
######################### MAIN ############################

global_architecture:
  embedding_dim: 48
  n_tmodes: 12
  n_hmodes: 24
  n_wmodes: 24
  n_layers: 4

local_architecture:
  embedding_dim: 48
  n_tmodes: 12
  n_hmodes: 24
  n_wmodes: 24
  n_layers: 2
  local_downsampling: 2
  n_attention_heads: 4
  global_patch_size: [16, 16]

training:
  train_batch_size: 1
  val_batch_size: 1
  learning_rate: 1e-6
  n_epochs: 50
  patience: 5
  tolerance: 0.
  save_frequency: 1
  global_checkpoint: '.checkpoints/best/global/epoch13.pt' # set to null to train from scratch
  local_checkpoint: '.checkpoints/best/local/epoch13.pt' # set to null to train from scratch
  freeze_global: false
  freeze_local: false

predict:
  # ondate: '20240831'
  ondate: '20240903'
  # ondate: '20240906'
  global_checkpoint: '.checkpoints/best/global/epoch1_.pt'
  local_checkpoint: '.checkpoints/best/local/epoch1_.pt'
  plot_resolution: null   # set to null to respect the true resolution


###########################################################
####################### BENCHMARK #########################

fno3d:
  embedding_dim: 48
  n_tmodes: 12
  n_hmodes: 24
  n_wmodes: 24
  n_layers: 4

training_fno3d:
  train_batch_size: 1
  val_batch_size: 1
  learning_rate: 1e-3
  n_epochs: 50
  patience: 5
  tolerance: 0.
  save_frequency: 1
  from_checkpoint: '.checkpoints/benchmarks/fno3d_epoch3.pt' # set to null to train from scratch

predict_fno3d:
  # ondate: '20240831'
  ondate: '20240903'
  # ondate: '20240906'
  from_checkpoint: '.checkpoints/benchmarks/fno3d_epoch3.pt'
  plot_resolution: null   # set to null to respect the true resolution
